html{font-family:Arial, Helvetica, sans-serif}

.container{
    font-size: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 20vw 10vw;
    grid-template-areas:
    "header header header header"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer";
}

.head{
    grid-area: head;
}

.navigation{
    grid-area: nav;
    position: sticky;
    display: flex;
    flex-direction: column;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
}